<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lackofvision" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LACKOFVISION1" >

        <activity
            android:name=".userpages.User_Menu"
            android:exported="true"
            android:label="LackOfVision"
            android:theme="@style/Theme.LACKOFVISION1.NoActionBar">


        </activity>
        <activity
            android:name=".CompaniesUserActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ProblemsUserActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".CurrentStatusUserActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".firebase_database_conn"
            android:exported="true" />
        <activity android:name=".superadminlogin" />
        <activity
            android:name=".MainActivity1"
            android:exported="true" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".activity_manageotp" />
        <activity android:name=".companyhome" />
        <activity android:name=".userhome" />
        <activity android:name=".Companylogin" />
        <activity android:name=".userlogin" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>